@fontSize:28px;
@backColorH:#999;
#topBar{
    height:60px;
    background-color:#0593D3;
    ul{
        margin-left:10%;
        overflow:hidden;
        li{
            float:left;
            width:200px;
            height:60px;
            line-height:60px;
            cursor:pointer;
           text-align:center;
            a{
                text-decoration: none;
            }
        }
        li:hover{
            background-color:#0483BB;
        }
    }
}
#topBar .author{
   margin-right:50px;
}
#leftContents{
    padding-right:30px;
    padding-top:80px;
    margin-left:50px;
    width:200px;
    min-height:850px;
    border-right:1px solid #DDDDDD;
        ul{
            margin-left:15px;
            cursor:pointer;
            color:#1100AA;
            li{
                color:#000;
                margin:5px 0;
                &:hover{
                color:#1100AA;
                }
                P{
                    margin:0;
                }
                li{
                    margin-left:15px;
                    overflow:hidden;
                    text-overflow : ellipsis;
                    white-space: nowrap;
                }
            }
        }
}
#OthersLeftBar {
    padding-right: 30px;
    padding-top: 80px;
    margin-left: 50px;
    width: 200px;
    min-height: 850px;
    border-right: 1px solid #DDDDDD;
}
#OthersLeftBar ul {
    padding-right:25px;

}
#OthersLeftBar ul li{
   cursor:pointer;
   color:#0483BB;
   padding:5px 0 5px 60px;
}
#topBar a {
   padding:18px 60px;
}
#JSLeftBar{
    width:300px;
    background: #fff;
    min-height:900px;
}
#JavaScriptContent .jsPageLeftBar,#OthersContent .OthersPageLeftBar{
    width:300px;
    float:left;
}
#JavaScriptContent .jsPageRightBar,#OthersContent .OthersPageRightBar{
    float:left;
    flex:1;
}
#JavaScriptContent,#OthersContent{
    display: flex;
}
#topBar i{
    font-size:@fontSize;
    color:#FAFAD2;
}
#OthersLeftBar .showBackColor,#leftContents .showBackColor1{
    background:#0483BB;
    color:#fff;
   
}
#OthersLeftBar .hideBackColor,#leftContents .hideBackColor1{
     background:#fff;
}
#leftContents .showBackColor1{
    text-align:center;
}
