<div ng-controller="Internet_controller" ng-init="InitPage()">
    <div id="SidebarInt">
        <div id="IntLeftBar">
            <div class="leftContents">
                <ul>
                    <li ng-repeat="item in categorys">
                        <p ng-click="showStatus(item,$event)" class="pHover">
                            <i class="iconfont icon-jiantouyou" ng-class="{false: 'iconfont icon-jiantouyou', true: 'iconfont icon-jiantouxia'}[item.isActive]"></i>                            {{item.name}}
                        </p>
                        <ul ng-show="item.isActive">
                            <li ng-repeat="x in item.contents" ui-sref="{{x.contentName}}" ng-class="{true:'showBackColor1',false:'hideBackColor1'}[x.isShow]" ng-click="isShow(x)">{{x.name}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>